# Build Files
.vs/
**/CMakeFiles/
**/CMakeCache.txt
# Windows build files
out/
# Version file
version.cmake
# Doxygen related files
Doxyfile
docs/doxygen/
# Qt Creator project file
CMakeLists.txt.user

# Visual Studio Code project files
.vscode/
.vs/
language.settings.xml

# Windows build dependencies
dependencies*/

#translations

# Useful Customization Files
*.patch
*.zip
*.diff

*~
